:root{
    --page-color1: #cb9049;
    --page-color2: #0b0033;
    --page-color3: #a41623;
    --page-color4: #ecf0f1;
    --page-color5: #79b473;
   }
*{
    background-color: var(--page-color1);
    color: var(--page-color2);
}
.form{
    z-index: 1;
    background-color:var(--page-color3);
    color: var(--page-color4);
}

button{
    color:#0b0033;
}