:root {
    --page-color1: #EDE7E3;
    --page-color2: #3F3F37;
    --page-color3: #08A4BD;
    --page-color4: #446DF6;
    --page-color5: #C46BAE;
}

*{
    background: var(--page-color1);
    color: var(--page-color2);
    scroll-behavior: auto !important;
    display: flex;
}

/*Main Stylings*/
#name{
    display: flex;
    
}

#cover{
    text-align: center;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100px;
    position: fixed;
    transition: 0.4s;
    background-color: #73827abc;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

nav{
    text-align: center;
    position: fixed;
    transition: 0.4s;
}

.cover>header {
    text-align: center;
  }

  
/* About Page */
.slider-container{
    margin: 0 10px 15px 10px;
    height:265px;
    overflow:hidden;
}

.slider-size-regulator{
    height:100%;
    overflow:hidden;
    display:flex;
}