<footer>
    <nav>
        <a href="https://webpages.charlotte.edu/mecheve1/">Charlotte.edu</a> 🦅 
        <a href="https://github.com/mecheve1">GitHub repository</a> 🦅 
        <a href="https://mecheve1.github.io">Github Pages</a> 🦅 
        <a href="https://mecheve1.github.io/itis3135">Github Course Page</a> 🦅
        <a href="https://www.freecodecamp.org/Mateo_Echeverry">FreeCode Camp</a> 🦅
        <a href="https://www.codecademy.com/profiles/Mecheve1">Code Academy</a> 🦅
        <a href="https://www.linkedin.com/in/mateo-echeverry-07585614a/">Linkedin</a> 🦅  

    </nav>

    <a href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
        <img src="images/button_validation_html5.png" width="88px" height="31px" alt="Validate webpage HTML." />
    </a>
    
    <a href="https://validator.w3.org/check?uri=referer" id="validation_link_css">
        <img src="images/button_validation_css.png" width="88px" height="31px" alt="Validate webpage HTML." />
    
    <p>Page designed by <span>Echeverry Index</span>©2024 \n</p>
    
    <script>
        document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
        document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
    </script>
</footer>