<footer>
    <p><i id="slogan">Your Ultimate Musical Experience</i></p>
    <button type="button" onclick="document.querySelectorAll('link[rel=stylesheet]').forEach(function(e)	{e.setAttribute('href', '');});">No CSS</button>
    <nav>
        <a href="https://webpages.charlotte.edu/mecheve1/">Charlotte.edu</a> 🦅 
        <a href="https://github.com/mecheve1">GitHub.com</a> 🦅 
        <a href="https://mecheve1.github.io">GitHub.io</a> 🦅 
        <a href="https://mecheve1.github.io/itis3135">ITIS3135.io</a> 🦅
        <a href="https://www.freecodecamp.org/Mateo_Echeverry">free Code Camp</a> 🦅
        <a href="https://www.codecademy.com/profiles/Mecheve1">Codecademy</a> 🦅
        <a href="https://www.linkedin.com/in/mateo-echeverry-07585614a/">Linkedin</a>  

    </nav>

    <p>Page designed by <a href="echeverrySolutions/index.html">Echeverry Solutions.inc </a><a href="https://www.freecodecamp.org/certification/Mateo_Echeverry/responsive-web-design">RWD Certifed </a>©2024</p>

    <a style="text-decoration: none" href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
        <img src="images/button_validation_html5.png" style="/* border:0; */width:88px;height:31px;" alt="Validate webpage HTML." />
    </a>
    
    <a style="text-decoration: none" href="https://jigsaw.w3.org/css-validator/validator?uri=referer" id="validation_link_css">
        <img src="images/button_validation_css.png" style="/* border:0; */width:88px;height:31px;" alt="Validate webpage HTML." />
    </a>

    <a style="text-decoration: none" href="https://wave.webaim.org/report#" id="validation_link_wcag">
        <img src="images/button_validation_wcag-2.png"  style="/* border:0; */width:88px;height:31px;" alt="Validate webpage HTML." />
    </a>

    
</footer>
<script>
    document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
    document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
    document.getElementById("validation_link_wcag").setAttribute("href", "https://wave.webaim.org/report#/" + location.href);
</script>