<footer>
    <nav>
        <a href="https://webpages.charlotte.edu/mecheve1/">Charlotte.edu</a> &clubs; 
        <a href="https://github.com/mecheve1">GitHub repository</a> &clubs; 
        <a href="index.html">Github Pages</a> &clubs; 
        <a href="index.html">Github Course Page</a> &clubs;
        <a href="https://www.freecodecamp.org/Mateo_Echeverry">FreeCode Camp</a> &clubs;
        <a href="index.html">Code Academy</a> &clubs;
        <a href="index.html">Linkedin</a> &clubs;  

    </nav>

    <a href="https://validator.w3.org/check?uri=referer">
        <img src="images/button_validation_html5.png" width="88" height="31" alt="Validate webpage HTML." />
    </a>
    
    <a href="https://validator.w3.org/check?uri=referer">
        <img src="images/button_validation_css.png" width="88" height="31" alt="Validate webpage HTML." />
    
</footer>