<header>
<h1>
    Mateo Echeverry's 🦅 Masterful Eagle 🦅ITIS3135 
</h1>
<nav>
        <a href="index.html">Home</a> ||
        <a href="introduction.html">Introduction</a>||
        <a href="contract.html">Contract</a> ||
        <a href="forms.html">Forms</a> ||
        <a href="tables.html">Table</a> ||
        <a href="Cr4p9yW3b51Te.html">Crappy Website</a> ||
        <a href="website_evaluations.html">Website Evaluations</a> ||
        <a href="firstscripts.html">First Script</a> ||
         <!-- rest of the menu
        <a href="contract.html">Contract</a> &clubs;
        <a href="contact.html">Contact</a> &clubs;
        <a href="polygons.html" class="polygon">Polygon</a> &clubs;-->
</nav>
</header>