<header>
<h1>
    Mateo Echeverry's Masterful Eagle ITIS3135 
</h1>
<nav>
        <a href="index.html">Home</a> &clubs;
        <a href="forms.html">Forms</a> &clubs;
        <a href="tables.html">Table</a> &clubs;
        <a href="website_evaluations.html">Website Evaluations</a> &clubs;
         <!-- rest of the menu
        <a href="contract.html">Contract</a> &clubs;
        <a href="contact.html">Contact</a> &clubs;
        <a href="polygons.html" class="polygon">Polygon</a> &clubs;-->
</nav>
</header>