<header>
    <div class="dropdown">
        <button class="dropbtn">Extras 🡇</button>
        <div class="dropdown-content">
          <a href="sings.html">Singing</a>
          <a href="eclipse.html">Eclipse</a>
          <a href="">Link 3</a>
        </div>
      </div>
    <h1>
        Mateo Echeverry's Masterful Eagle 🦅 ITIS3135 
    </h1>
    <nav>
        ⫷
            <a href="index.html">Home</a> &ThinSpace; &clubsuit; &ThinSpace;
            <a href="introduction.html">Introduction</a> &ThinSpace; &clubsuit; &ThinSpace;
            <a href="contract.html">Contract</a> &ThickSpace;&clubsuit;&ThinSpace;
            <a href="forms.html">Forms</a> &ThinSpace;&clubsuit; &ThinSpace;
            <a href="tables.html">Table</a> &ThinSpace; &clubsuit;&ThinSpace;
            <a href="firstscripts.html">Scripts</a> &ThinSpace; &clubsuit; &ThinSpace;
            <a href="about.html">About</a> &ThinSpace; &clubsuit; &ThinSpace;
            <a href="website_evaluations.html">Site Evaluations</a> &ThinSpace; &clubsuit; &ThinSpace; 
            <a href="calculatorTry.html">Calculator Try </a> &ThinSpace; &clubsuit; &ThinSpace;
            <a href="calculatorFCC.html">Calculator FCC </a> &ThinSpace; &clubsuit; &ThinSpace;
            <a href="drawing.html">Drawing</a>
        ⫸
    </nav>
    <nav id="menu2">
        ⫷ 
        <a href="Cr4p9yW3b51Te.html">Crappy </a> &ThinSpace;&clubsuit;&ThinSpace;
        <a href="hobby/index.html">Hobby </a>&ThinSpace;&clubsuit;&ThinSpace;
        <a href="sanateInc/index.html">Client Site</a>
        ⫸
    </nav>
</header>